### Dictionaries

In [1]:
list=[10,20,30]
list[0]

10

In [3]:
dict1={}
dict1={'key':'value1','key2':'value2'}
dict2={1:10,2:20,3:30}
dict2[1]
dict1['key']

'value1'

## Dictionary Methods

get()

In [4]:
dict1={'k1':100,'k2':200,'k3':300}
dict2=dict1.get('k3')
dict2

300

keys(),values() and items()

In [5]:
dict1.keys()

dict_keys(['k1', 'k2', 'k3'])

In [7]:
dict1.values()

dict_values([100, 200, 300])

In [8]:
dict1.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

update()

setdefault()

copy()

In [9]:
student={'name':'Sravani','Pin':123,'branch':'cse','age':18}
student.update({'age':19})
student

{'name': 'Sravani', 'Pin': 123, 'branch': 'cse', 'age': 19}

In [11]:
student.update({'cellNo.':123455667})
student

{'name': 'Sravani',
 'Pin': 123,
 'branch': 'cse',
 'age': 19,
 'cellNo.': 123455667}

In [14]:
student.setdefault('age',20)
student

{'name': 'Sravani',
 'Pin': 123,
 'branch': 'cse',
 'age': 19,
 'cellNo.': 123455667}

In [17]:
student2=student.copy()
student2

{'name': 'Sravani',
 'Pin': 123,
 'branch': 'cse',
 'age': 19,
 'cellNo.': 123455667}

-popitems()

-pop()

clear()

In [18]:
d={1:'a',2:'b',3:'c'}
d.popitem()

(3, 'c')

In [19]:
d.pop(1)

'a'

In [20]:
d

{2: 'b'}

In [21]:
d.clear()

In [22]:
d

{}

In [25]:
d1={'name1':'bhargavi','name2':'sravani','name3':'Durga'}
d2={'pin1':123,'pin2':234,'pin3':567}
d1.update(d2)
d1

{'name1': 'bhargavi',
 'name2': 'sravani',
 'name3': 'Durga',
 'pin1': 123,
 'pin2': 234,
 'pin3': 567}

In [28]:
d1={'name1':'bhargavi','name2':'sravani','name3':'Durga'}
d2={'pin1':123,'pin2':234,'pin3':567}
d3={'name4':'bharu','name5':'sravs','name6':'Durga bhavani'}
d4={'age1':19,'age2':20,'age3':23}
d5={}
for i in (d1,d2,d3,d4):
    d5.update(i)
d5

{'name1': 'bhargavi',
 'name2': 'sravani',
 'name3': 'Durga',
 'pin1': 123,
 'pin2': 234,
 'pin3': 567,
 'name4': 'bharu',
 'name5': 'sravs',
 'name6': 'Durga bhavani',
 'age1': 19,
 'age2': 20,
 'age3': 23}

### Python program to build a contacts application

In [32]:
contacts={}
def addContacts(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print('Contact added')
    else:
        print('Contact already exist')
addContacts('Sravani',123434566)
addContacts('gopi',1233434566)
addContacts('Sravs',12343490566)
print(contacts)

Contact added
Contact added
Contact added
{'Sravani': 123434566, 'gopi': 1233434566, 'Sravs': 12343490566}

In [34]:
if 'Sravani' in contacts.keys():
    print('Contact exists')
else:
    print('Contact not exists')

Contact exists

In [57]:
students={1:['Anupallavi','cse'],2:['Madhuri','ece'],3:['Mohini','Civil']}
#Output:1:['Anupallavi','cse']
#2:['Madhuri','ece']
#3:['Mohini','Civil']
for keys,values in students.items():
    print(keys,':',values)

1 : ['Anupallavi', 'cse']
2 : ['Madhuri', 'ece']
3 : ['Mohini', 'Civil']

In [ ]:
d={}
for i in range(11):
    d[i]=input('')

In [60]:
print(d)

{0: 'sra', 1: '23', 2: '4', 3: '345', 4: '2435', 5: '12', 6: '12', 7: '145', 8: '156', 9: '115', 10: '156'}

In [76]:
d1={'n1':100,'n2':200,'n3':700}
s=sum(d1.values())
size=len(d1)
avg=s//size
print(avg)
print(s)

333
1000

In [4]:
d={'n1':100,'n2':200,'n3':700,'n4':-3}
m=1
for values in d.values():  
    m=m*values
print(m)

-42000000